.user-settings {
  @apply flex flex-col justify-center items-center gap-[40px] h-full;

  &__avatar {
    .avatar {
      @apply w-[120px] h-[120px];

      &__first-letters {
        font-size: 40px;
      }
    }
  }

  &__divider {
    @apply h-[1px] w-[40%] bg-gray-300;
  }

  &__info {
    @apply flex flex-col gap-[40px] w-[40%] bg-white p-[20px];
  }

  &__info-form {
    @apply flex flex-col gap-[50px];
  }

  &__info-fields {
    @apply flex flex-col gap-[25px];
  }

  &__info-field {
    @apply flex flex-col gap-[10px];

    &-label {
      font-weight: bold;
    }

    &-input {
      @apply h-[40px] rounded-[5px] px-[10px] text-[15px] outline-none;

      border: 1px solid lightgrey;
    }
  }

  &__info-field-error {
    @apply text-red-400 text-[14px];
  }

  &__submit-info-button {
    @apply bg-primary text-white rounded-[7px] py-[5px] w-[100%] text-[20px];
  }
}
