.chat-header {
  @apply flex justify-between items-center px-[20px] h-[80px] border-b-gray-300 border-b-[1px];

  &__user {
    @apply flex gap-[10px];

    &-info {
      @apply flex flex-col justify-center;

      @media(max-width: 520px) {
        @apply justify-normal items-center m-auto;
      }
    }

    .avatar {
      @media(max-width: 520px) {
        @apply absolute cursor-pointer;
      }
    }

    &.group-conversation-header {
      .avatar {
        @media(max-width: 520px) {
          position: unset;
        }
      }
      
      @media(max-width: 520px) {
        align-items: unset;
      }
    }

    @media(max-width: 520px) {
      @apply flex-row-reverse w-full items-center;
    }
  }

  &__first-last-name {
    @apply flex gap-[5px] font-bold
  }

  &__status {
    @apply text-gray-400 text-[14px];
  }

  &__settings-menu {
    top: 55px !important;
    transform: translateX(-170px);

    a {
      text-decoration: none;

      &:focus {
        box-shadow: none !important;
      }
    }

    ul {
      margin-bottom: unset;
      padding: unset;
    }

    &-leave {
      span {
        @apply text-red-500;
      }
    }

    @media(max-width: 520px) {
      transform: unset;
    }
  }

  &__close-button {
    @apply text-primary text-[35px] cursor-pointer;
  }

  &__settings-button {
    @apply text-[30px] text-primary cursor-pointer;

    @media(max-width: 520px) {
      display: none;
    }
  }

  &__back-button {
    display: none;

    @media(max-width: 520px) {
      @apply block text-primary text-[23px] absolute cursor-pointer;
    }
  }

  &__avatars {
    @apply flex flex-col gap-[5px];
  }

  &__avatar-row {
    &:first-child {
      margin: auto;
    }

    &:last-child {
      @apply flex gap-[5px];
    }

    .avatar {
      @apply min-w-[30px] min-h-[30px] h-[30px] w-[30px];

      &__first-letters {
        font-size: 14px;
      }
    }
  }

  &__group-name {
    font-weight: bold;
  }
}
