.side-bar {
  @apply flex gap-[0px] w-[400px] h-full border-r-gray-300 border-r-[1px] fixed;

  &__no-data {
    border: 0;
    width: unset !important;
  }

  &__chat-page {
    .side-bar__data {
      @media(max-width: 786px) {
        display: none;
      }
    }

    @media(max-width: 786px) {
      width: fit-content !important;
    }

    @media(max-width: 520px) {
      height: 70px;
      display: none;
    }
  }

  &__data {
    @apply w-full p-[20px] overflow-auto pt-0;

    @media(max-width: 520px) {
      height: 100%;
    }
  }

  @media(max-width: 786px) {
    width: 100vw;
    border: 0;
  }

  @media(max-width: 520px) {
    flex-direction: column-reverse;
    width: 100% !important;
  }
}
