@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .common-layout {
    background-color: white;
    height: 100%;
    display: flex;

    &.settings-layout {
      @media(max-width: 520px) {
        flex-direction: column-reverse;
      }
    }

    @media(max-width: 520px) {
      flex-direction: column-reverse;
    }
  }

  .common-page {
    width: calc(100% - 400px);

    @media(max-width: 520px) {
      height: 100%;
    }
  }

  .common-page-title {
    position: fixed;
    height: 80px;
    z-index: 1;
    background: white;
    padding-top: 20px;
    width: 290px;

    @media(max-width: 768px) {
      width: 81%;
    }

    @media(max-width: 520px) {
      width: 100%;
    }
  }

  .common-chat-page {
    margin-left: 400px;

    @media(max-width: 786px) {
      display: initial;
      width: 100%;
      margin-left: 87px;
    }

    @media(max-width: 520px) {
      margin-left: 0;
    }
  }

  .common-chat-body-section {
    position: fixed;
    width: calc(100% - 400px);
    z-index: 1;
    background: white;

    &.new-chat-selected {
      width: calc(100% - 80px);

      @media(max-width: 786px) {
        width: 100%;
      }
    }

    @media(max-width: 786px) {
      width: calc(100% - 80px);
    }

    @media(max-width: 520px) {
      width: 100%;
    }
  }
}

body {
  @apply bg-gray-200;
}
